.form-group{
    padding: 12px;
    border: 15px solid #cddeeb;
}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.h_primary {
    font-size: 30px;
    padding: 20px;
    font-family: 'Bree Serif', serif;
}

.center {
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.form-btn{
    text-align: center;
    margin-top: 1em;
}
.btn:hover{
    color: white;
    background-color: black;
}
.btn{
    background-color: #0a69f4;
    
}